<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="css/adminstyle.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>

	
	<div class="wrapper">
		<div class="container">
		  <div class="col-left">
			<div class="login-text">
			  <h2>Welcome Back Admin !!!</h2>
			  <br>
			
			  
			</div>
		  </div>
		  <div class="col-right">
			<div class="login-form">
			  <h2>Login</h2>
			  <form method="post" action="/adlogin">
				<p>
				  <label>Username or email address<span>*</span></label>
				  <input type="text"  name="email_address" required/>
				</p>
				<p>
				  <label>Password<span>*</span></label>
				  <input id="pswrd" type="password"  name="password" required/>
				</p>
				<p>
				  <input type="submit" value="Sign In" />
				</p>
				
			  </form>
			</div>
		  </div>
		</div>
		
	  </div>
	 
</body>
</html>